@import "../colors.scss";

button {
    width: 180px;
    height: 42px;
    padding: 0;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    background-color: $dodger-blue;
    color: $white;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: $malibu;
    }

    &:active {
        background-color: $curious-blue;
    }
}