@import "../../assets/fonts/fonts.scss";
@import "../../assets/styles/colors.scss";

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    background: $dodger-blue;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.logo {
    font-family: $chalkduster;
    color: $white;
    font-size: 32px;
    text-transform: uppercase;
    cursor: pointer;
}

.menu {
    display: flex;
}

.icon {
    background-size: 26px;
    width: 26px;
    height: 26px;
    margin-left: 10px;
    cursor: pointer;
}

.search {
    background-image: url('../../assets/images/search.svg');
}

.wishlist {
    background-image: url('../../assets/images/wishlist.svg');
}

.shopping-cart {
    background-image: url('../../assets/images/shopping-cart.svg');
}