@import "~normalize.css";
@import "../fonts/fonts.scss";
@import "./components/button.scss";

body,
button,
select {
    font-family: $nunito-sans;
    background-image: url('../images/background.png');
    background-repeat: repeat-x;
}

main {
    margin-top: 120px;
}